name: Linux OS Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: setup
      run: sudo apt-get install make
    - name: make
      run: make
    - name: make check
      run: make check
    - name: make distcheck
      run: make -c Multiplefile

  
  
